[push]
  default = upstream
  recurseSubmodules = check
[user]
  name = larribas
  email = lorenzo.s.arribas@gmail.com
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[advice]
  statusHints = false
[alias]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = netlify
